body{
    background-image:url("../1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
table, th, td{
    background-color: #F2F2F2;
    text-align: center;
    box-shadow: 0.5px 0.5px blueviolet, 0.5em 0 0.7em blueviolet, -0.5em 0 0.7em blueviolet;
    color: black;
}
th, td{
    width: 6.28%;
}
td{
    height: 38px;
    vertical-align: top;
}
#clients{ 
text-align:center;
      box-shadow: 0.5px 0.5px blueviolet, 0.5em 0 0.7em blueviolet, -0.5em 0 0.7em blueviolet;
    color: white;
}
#new{
    background-color: black;
    color :white;
    box-shadow: 0.5px 0.5px blueviolet, 0.5em 0 0.7em blueviolet, -0.5em 0 0.7em blueviolet;
}
#iconHospital{
    height: 50px;
}