body{
    background-image:url("1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
table, th, td{

    background-color: #F2F2F2;
    text-align: center;
    box-shadow: 0.5px 0.5px #001a33, 0.5em 0 0.7em #001a33, -0.5em 0 0.7em #001a33;
    color: black;

}
th, td{
    width: 6.28%;
}
td{
    height: 38px;
    vertical-align: top;
}
#clients{ 
text-align:center;
     box-shadow: 0.5px 0.5px #001a33, 0.5em 0 0.7em #001a33, -0.5em 0 0.7em #001a33;
    color: white;
}
.nav-link{
    background-color: black;
    font-size: 20px;
    color : whitesmoke;
    font-style: italic;
    box-shadow: 0.5px 0.5px #001a33, 0.5em 0 0.7em #001a33, -0.5em 0 0.7em #001a33;
}

#new{
    color :white;
    box-shadow: 0.5px 0.5px #001a33, 0.5em 0 0.7em #001a33, -0.5em 0 0.7em #001a33;
}